/*********************************************\
		Desktop First Method
\*********************************************/
/* Medium Devices, Notebooks */
@media only screen and (max-width : 1260px) {
	.section-package{
		padding-top: 50px;
		.packages-title{
			font-size: 55px;
			line-height: 58px;
			margin-bottom: 50px;
		}
		.packages{
			.package-wrap{
				margin-bottom: 60px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	.section-program-success{
		padding-top: 50px;
		.sec-title{
			margin-bottom: 50px;
		}
		.program-wrapper{
			.accordion{
				padding: 25px;
				padding-right: 0;
				max-width: 355px;
			}
		}
	}

	.container {
		width: 100%;
		max-width: 760px;
		padding: 0 10px;
		margin: 0 auto;
	}

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 760px) {
	.header{
		background-size: contain;
		height: auto;
		background-position: 50% 100%;
		.top-line{
			height: 60px;
			.phone-block{
				margin-left: 15px;
				.phone{
					font-size: 14px;
					line-height: 17px;
				}
			}
			.logo{
				max-width: 150px;
				height:40px;
				background-size: cover;
			}
		}
		h1{
			font-size: 50px;
			line-height: 53px;
		}
	}
	.container {
		width: 100%;
		max-width: 340px;
		padding: 0 10px;
		margin: 0 auto;
	}
	.section-package{
		padding: 40px 0;
		.packages-title{
			padding: 0;
			font-size: 30px;
			line-height: 33px;
			text-align: center;
			margin-bottom: 40px;
		}
		.packages{
			.package-wrap{
				background: #f3f3f3;
				box-shadow: 0px 0px 25px rgb(177, 177, 161);
				padding-bottom: 40px;
			}
			.package{
				height: auto;
				padding-bottom: 120px;
				&__price{
					background-color: #FFEB3B;
				}
			}
		} 
		.yellow-btn{
			max-width: 215px;
			line-height: 50px;
			font-size: 20px;
		}
	}
	.section-program-success{
		padding: 40px 0;
		.sec-title{
			font-size: 30px;
			line-height: 33px;
			margin-bottom: 50px;
		}
		.program-wrapper{
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			.accordion{
				height: 225px;
				padding: 25px;
				padding-right: 0;
				max-width: 290px;
				&__number{
					font-size:25px;
					line-height: 28px;
					margin-bottom: 20px;
				}
				&__title{
					font-size:25px;
					line-height: 28px;
				}
			}
		}
		.yellow-btn{
			font-size:25px;
			line-height: 50px;
			max-width: 215px;
			margin: 10px auto;
		}
	}

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 340px) {
		.container {
		padding: 0;
		overflow: hidden;
		width: 320px;}
}


/*********************************************\
		Mobile First Method
\*********************************************/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 320px) {

}


/* Small Devices, Tablets */
@media only screen and (min-width : 720px) {

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 960px) {

}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1130px) {

}