form.standart-form#form(accept-charset="utf-8" onsubmit="return zohoNewDeal(form , '3678676000105087909', 'Маркетинг МВА. Ленд без цен')" action="https://www.geniusm360.ru/add_subscriber.html" method="post")
	.loader
	.part.part1
		input.name(name="name", type="text", placeholder="Ваше имя ", required="")
	.part.part2
		input.email(name="email", type="email", placeholder="Ваш email", required="")
	.part.part3
		input.phone#phone(name="phone", type="text", required="")
	.part.part4
		input#last1.last1(type="hidden", name="custom_telephone")
		input#checktoken(type="hidden", name="campaign_token", value='b7OY')
		input#checkrespo(type="hidden", name="thankyou_url", value='tyurl')
		input#emailexist(type="hidden", name="email_exists_url", value='emexist')
		input(type="hidden", name="forward_data", value="")
		input(type="hidden", name="start_day", value="0")
		//- utm inputs
		input(type="hidden" name="utm_source" value="")
		input(type="hidden" name="utm_medium" value="")
		input(type="hidden" name="utm_term" value="")
		input(type="hidden" name="utm_campaign" value="")
		input(type="hidden" name="utm_content" value="")
	button.btn.subm(type="submit" ) отправить