header.header
	.container
		.top-line
			.phone-block
				a.phone(href="tel:+74952410787") +7 495 241 07 87
				a.phone(href="tel:+380442371318") +38 044 237 13 18
			a.logo(href="/")
		h1 Marketing  MBA


