section.section-package
	.container
		p.packages-title Выберите подходящий для вас пакет участия
		.packages
			.package-wrap
				.package
					p.package__name MINIMUM
					ul.package__list
						li Доступ ко всем материалам курса.
						li Проверка домашних заданий и обратная связь от куратора.
					p.package__price $600
				a(href="#").hvr-grow.yellow-btn.btn-utm принять участие
			.package-wrap
				.package
					p.package__name STANDART
					ul.package__list
						li Доступ ко всем материалам курса.
						li Проверка домашних заданий и обратная связь от куратора.
						li Офлайн-присутствие на занятиях в Киеве.
						li Скидка 20% на Digital Camp.
					p.package__price $900
				a(href="#").hvr-grow.yellow-btn.btn-utm принять участие
			.package-wrap
				.package
					p.package__name VIP
					ul.package__list
						li Доступ ко всем материалам курса.
						li Расширенная и углубленная проверка домашних заданий и обратная связь от спикеров.
						li 2 личные коуч-сессии со спикерами.
						li Личный куратор.
						li Скидка 20% на Digital Camp.
					p.package__price $1500
				a(href="#").hvr-grow.yellow-btn.btn-utm принять участие

section.section-program-success
	.container
		p.sec-title ПРОГРАММА курса
		.program-wrapper
			.accordion(rel="tab0")
				p.accordion__number модуль 0.
				p.accordion__title Мотивация			
				.accordion__content#tab0
					.accordion__items
						ul.item 
							li - Старт: мотивация
							li - Самопрезентация, как себя подавать на выступлениях и встречах
				.accordion__tab(rel="tab0")
			.accordion(rel="tab1")
				p.accordion__number модуль 1.
				p.accordion__title Основы маркетинга без которых бизнес не работает			
				.accordion__content#tab1
					.accordion__items
						ul.item 
							li - Бизнес-стратегия и планирование маркетинга. 
							li - Маркетинговая среда фирмы. 
							li - Сегментирование, выбор целевого рынка и позиционирование 
							li - Маркетинговая аналитика. Базовые KPI
							li - Конкурентный анализ
							li - Потребительское поведение.
				.accordion__tab(rel="tab1")
			.accordion(rel="tab2")
				p.accordion__number модуль 2.
				p.accordion__title Cтарая добрая реклама. ATL|BTL			
				.accordion__content#tab2
					.accordion__items
						ul.item 
							li - ТВ-реклама, радиореклама. Особенности применения.
							li - Наружная реклама, печатная реклама. Особенности применения.
							li - BTL-реклама
							li - Специфические виды рекламы (вирусная реклама и т.д.).
							li - Digital-маркетинг Тойота: команда/задачи/идеи/порядчики
				.accordion__tab(rel="tab2")
			.accordion(rel="tab3")
				p.accordion__number модуль 3.
				p.accordion__title Digital- маркетинг, который увеличивает прибыль любого бизнеса			
				.accordion__content#tab3
					.accordion__items
						ul.item 
							li
				.accordion__tab(rel="tab3")
			.accordion(rel="tab4")
				p.accordion__number модуль 4.
				p.accordion__title Perfomance: инструменты с реально измеримыми результатами 			
				.accordion__content#tab4
					.accordion__items
						ul.item 
							li - SEO
							li - SMM - стратегия 
							li - SMM - стратегия 
							li - Эффективность сайта UI\UX
							li - Выбор подрядчика/Тендер
							li - Работа с подрядчиками
				.accordion__tab(rel="tab4")
			.accordion(rel="tab5")
				p.accordion__number модуль 5.
				p.accordion__title 	Автоматизация маркетина, которая позволяет экономить ресурсы (человеческие и денежные)			
				.accordion__content#tab5
					.accordion__items
						ul.item 
							li CRM-маркетинг. Инструменты дожима (push/e-mail/sms)
				.accordion__tab(rel="tab5")
			.accordion(rel="tab6")
				p.accordion__number модуль 6.
				p.accordion__title Правильные подсчеты бюджетов, вложений и главное- ПРИБЫЛИ			
				.accordion__content#tab6
					.accordion__items
						ul.item 
							li - Методы формирования бюджета
							li - P&L
							li - Показатели контроля 
				.accordion__tab(rel="tab6")
			.accordion(rel="tab7")
				p.accordion__number модуль 7.
				p.accordion__title Как стать лидером за которым идут и которогго не отпускают			
				.accordion__content#tab7
					.accordion__items
						ul.item 
							li - Структура команды
							li - Постановка маркетинговых задач. Переход от маркетинга процесса к маркетингу результата.
							li - Генерирование прибыли: какие зоны ответственности передавать в отдел маркетинга?
							li - Зоны контроля директора по маркетингу в маркетинге компании
							li - Как мотивировать сотрудников, отвечающих за маркетинг? Какие KPI должны быть у отдела маркетинга?
							li - Внедрение плана
				.accordion__tab(rel="tab7")
			.accordion(rel="tab8")
				p.accordion__number модуль 8.
				p.accordion__title Как создать такую команду, которая разорвет рынок и компанию изнутри			
				.accordion__content#tab8
					.accordion__items
						ul.item 
							li - Эффективное управление отделами и организациями
							li - HR менеджмент
							li - Внутренние силы. SWOT-анализ 
				.accordion__tab(rel="tab8")
			.accordion(rel="tab9")
				p.accordion__number модуль 9.
				p.accordion__title Основы маркетинга без которых бизнес не работает
				.accordion__content#tab9
					.accordion__items
						ul.item 
							li - Старт: мотивация
							li - Самопрезентация, как себя подавать на выступлениях и встречах
				.accordion__tab(rel="tab9")
		a(href="#").yellow-btn.hvr-grow.btn-utm принять участие