.subm {
	cursor: pointer;
	border: none;
	display: block;
	margin: 0 auto;
	transition: all 0.3s linear;
	appearance: none;
	 -webkit-appearance: none;
	&:hover,
	&:focus {
		transform: scale(1.02);
	}
}

.btn {
	appearance: none;
	 -webkit-appearance: none;
}

.yellow-btn{
	background: #FFFF26;
	border-radius: 40px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
}