.header{
	height: 817px;
	padding-bottom: 130px;
	background:#FFFF26 url(../img/header-bg.png) 50% 212px no-repeat;
	.top-line {
		@include flex(space-between,center,row wrap);
		width: 100%;
		height: 93px;
		border-bottom:1px solid #181818;
		margin-bottom: 31px;
		.logo{
			background:url(../img/logo.png)50% no-repeat;
			width: 100%;
			max-width: 176px;
			height: 90px;
		}
		.phone-block{
			max-width: 186px;
			margin-right: 30px;
			.phone{
				font-family: Montserrat;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 15px;
				display: flex;
				align-items: center;
				text-align: right;
				color: #181818;
				margin-bottom: 10px;
				&:last-child{
					margin: 0;
				}
			}
		}
	}
	h1{
		font-family: Bebas Neue Cyrillic;
		font-style: normal;
		font-weight: normal;
		font-size: 128px;
		line-height: 128px;
		letter-spacing: 0.015em;
		color: #181818;
		text-align: center;
	}
}
