.section-package{
	padding-top: 112px;
	padding-bottom: 84px;
	.packages-title{
		font-family: Bebas Neue Cyrillic;
		font-style: normal;
		font-weight: normal;
		font-size: 64px;
		line-height: 64px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #181818;
		max-width: 760px;
		margin-bottom: 90px;
		padding-left: 72px;
	}
	.packages{
		@include flex(space-around,center,row wrap);
		.package{
			position: relative;
			padding:25px;
			background: #FFFF26;
			box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
			height: 510px;
			width: 100%;
			max-width: 263px;
			margin-bottom: 30px;
			&__name{
				font-family: Bebas Neue Cyrillic;
				font-style: normal;
				font-weight: normal;
				font-size: 64px;
				line-height: 64px;
				text-transform: uppercase;
				color: #181818;
				text-align: center;
				margin-bottom: 21px;
			}
			&__list{
				padding-left: 5px;
				li{
					font-family: Montserrat;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
					color: #181818;
					list-style: disc;
					margin-left: 10px;
					margin-bottom: 20px;
				}
			}
			&__price{
				position: absolute;
				width: 100%;
				background: #F3F3F3;
				font-family: Bebas Neue Cyrillic;
				font-style: normal;
				font-weight: normal;
				text-align: center;
				font-size: 64px;
				line-height: 64px;
				text-transform: uppercase;
				padding: 20px 0;
				color: #181818;
				bottom: 0;
				left: 0;
			}
		}
	}
	.yellow-btn{
		max-width: 263px;
		font-family: Bebas Neue Cyrillic;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 64px;
		text-align: center;
		color: #181818;
	}


}

.section-program-success{
	padding-top: 77px;
	padding-bottom: 58px;
	background: #F3F3F3;
	.sec-title{
		position: relative;
		overflow: hidden;
		font-family: Bebas Neue Cyrillic;
		font-style: normal;
		font-weight: normal;
		font-size: 64px;
		line-height: 64px;
		text-align: center;
		text-transform: uppercase;
		color: #181818;
		margin: 0 auto;
		margin-bottom: 71px;
		background:#F3F3F3;
		padding: 0 10px;
		&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background: #000;
		top: 30px;
		right: calc(50% - -210px);
		}
		&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background: #000;
		top: 30px;
		left:calc(50% - -210px);;
		}
	}
	.program-wrapper{
		@include flex(space-between,flex-start,row wrap);
		.accordion{
			position: relative;
			background: #FFFFFF;
			box-shadow: 7px 7px 0px #FFFF26;
			border-radius: 10px;
			width: 100%;
			max-width: 390px;
			height: 245px;
			padding: 30px;
			padding-right: 0;
			margin-bottom: 30px;
			transition:all 0.3s linear;
			&__content{
				display: none;
			}
			&__tab{
				position: absolute;
				background: url(../img/svg/accordion-tab-arrow.svg)50% no-repeat;
				width: 40px;
				height: 40px;
				right: 14px;
				bottom: 10px;
				cursor:pointer;
			}
			&__number{
				font-family: Bebas Neue Cyrillic;
				font-style: normal;
				font-weight: normal;
				font-size: 30px;
				line-height: 30px;
				color: #000000;
				margin-bottom: 30px;
			}
			&__title{
				font-family: Bebas Neue Cyrillic;
				font-style: normal;
				font-weight: normal;
				font-size: 30px;
				line-height: 30px;
				color: #000000;
				margin-bottom: 30px;
			}
			&.active{
				background: #FFFF26;
				box-shadow: 7px 7px 0px #FFFF26;
				border-radius: 10px;
				.accordion__title{
					display: none;
				}
				.accordion__tab{
					transform:rotate(270deg);
				}
			}
			&__items{
				overflow-y: scroll;
				max-height: 140px;
				.item{
					overflow: auto;
					li{
						font-family: Montserrat;
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 17px;
						color: #000000;
						margin-bottom: 10px;
						max-width: 300px;
					}
				}
			}
		}
	}
	.yellow-btn{
		font-family: Bebas Neue Cyrillic;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		text-align: center;
		color: #181818;
		line-height: 77px;
		max-width: 359px;
	}
}